.card-content-expandable {
    max-height: 0;
    overflow: hidden;
    transition: 
        max-height 0.3s ease-out, 
        opacity 0.3s ease-out;
    opacity: 0;
}

.card-content-expandable.expanded {
    max-height: 500px;
    opacity: 1;
}